* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
#deactivated {
  pointer-events: none;
  background: dimgray;
}

#version {
  color: white;
  position: absolute;
  bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  z-index: 15;
}